[user]
	name = Yusuf Kursad Kaya
	email = ykursadkaya@gmail.com
	username = ykursadkaya
	# signingkey = 820FEE0520DF0056
	signingkey = /Users/ykursadkaya/.ssh/id_ed25519.pub
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[color]
	ui = auto
[core]
	excludesfile = /Users/ykursadkaya/.gitignore_global
[commit]
	# template = /Users/ykursadkaya/.stCommitMsg
	gpgsign = true
[gpg]
	# program = /opt/homebrew/bin/gpg
	format = ssh
[push]
	autoSetupRemote = true
[gpg "ssh"]
	allowedSignersFile = /Users/ykursadkaya/.ssh/allowed_signers

# echo "$(git config --get user.email) namespaces=\"git\" $(cat ~/.ssh/id_ed25519.pub)" >> ~/.ssh/allowed_signers
