macos-titlebar-style = tabs
# macos-titlebar-proxy-icon = visible
# font-size = 14
cursor-style = block
cursor-style-blink = false
# adjust-cursor-thickness = 300%
shell-integration-features = no-cursor
# confirm-close-surface = true
unfocused-split-opacity = 0.9
# startup maximized window
window-height = 1000
window-width = 1000
window-inherit-working-directory = false
keybind = global:cmd+shift+space=toggle_quick_terminal
quick-terminal-animation-duration = 0.12
window-padding-x = 6
window-padding-y = 6
macos-option-as-alt = right
# macos-icon = blueprint
